.element__like {
  border: none;
  width: 21px;
  height: 19px;
  background: url("../../../images/like.svg") no-repeat center;
  align-self: center;
}

.element__like:hover {
  opacity: .6;
  cursor: pointer;
}
