.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-left: 30px;
  background: url("../../../images/edit-button.png") no-repeat center;
  border: 1px solid #FFFFFF;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media (max-width : 425px) {
  .profile__edit-button {
    margin-left: 12px;
    width: 18px;
    height: 18px;
  }
}
