.overlay-place__container {
  position: absolute;
  width: 425px;
  height: 330px;
  top: 180px;
  background: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

@media (max-width : 425px) {
  .overlay-place__container {
    width: 240px;
    height: 270px;
  }
}
