@import url("__title/element__title.css");
@import url("__title-container/element__title-container.css");
@import url("__like/element__like.css");
@import url("__remove/element__remove.css");

.element {
  width: 282px;
  height: 361px;
  background-repeat: no-repeat;
  background-size: 282px 282px;
  background-position: 0 0;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 18px 20px 0;
}

.element:nth-child(3n) {  /* Thanks for the tip, will consider grid next time */
  margin-right: 0;
}

@media (max-width : 425px) {
  .element {
    margin: 0 19px 20px;
  }

  .element:nth-child(3n) {
    margin: 0 19px 20px;
  }
}
